/*
PALETTE
violet clair
#997798
rgba(153,119,152, 1)

violet foncé
#995894
rgba(153,88,148, 1)

bleu
#89A6CC
rgba(137,166,204, 1)

vert clair
#91AA2B
rgba(145,170,43, 1)

vert foncé
#4D872A
rgba(77,135,42, 1)

gris
#F2F2F2

*/

/*
Arrondir les angles ?
Ombre portée nette sous les boutons ?


*/

/********************GENERAL******************/
body {
	position: relative;
	font-size: 17px;
	font-family: "PT Sans Narrow";
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Abril Fatface";
}

h1 {
	margin-bottom:1em;
}

h1 > div{
	display: inline-block;
	text-indent: -9999px;
}

.feuille1 {
	width:1.1em;
	height:1.1em;
	margin-right: -0.4em;
	background: url("../../svg/feuille1.svg");
}

.feuille2 {
	width:1em;
	height:1em;
	margin-left: -0.1em;
	background: url("../../svg/feuille2.svg");
}


a:link, a:visited, a:hover, a:active { outline:none }

section {
	padding:1em;
}

/*******************HEADER********************/

header .container {
	background-image: url("../../images/header/background_long_60.png");
	/*background-position: 50% 60%;*/
	background-size: 100% auto;
	height:100%;
}
header {
	background-color: transparent;
}

header .logo {
	height:auto;
	margin:1.84em 1em;
	float:left;
}

header .conIns {
	background-color: rgba(153,88,148, 1);
	color:white;
}

@media (max-width: 992px) {
	header .container {
		background: none;
	}
}

.recherche {
	border:transparent;
	margin:0.5em auto;
	padding:0;
	height:2em;
	border-radius: 5px;
}
.recherche-btn {
	border:transparent;
	margin-top: -6px;
	height:2.5em;
}

/*******************NAV********************/

nav ul{
position:relative;
/*width:27em;
height:2em;*/
margin:100px auto;
padding:0;
white-space:nowrap;
}
nav ul li{
display:inline;
text-align:center;
/*font-weight: bolder;*/
}
nav ul li a{
position:relative;
top:0;left:0;right:25em;bottom:0;
display:inline-block;
text-align: center;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding:.4em .2em;
color:#09C;
text-decoration:none;
text-shadow:0 1px 0 white;
/*transition*/
-webkit-transition:width .3s,right .3s;
   -moz-transition:width .3s,right .3s;
     -o-transition:width .3s,right .3s;
        transition:width .3s,right .3s;
font-size: 20px;
}


.sliding-middle-out {
	display: inline-block;
	position: relative;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
}
.navbar-default {
    background-color: #F2F2F2;
    border-color: transparent;
    margin:0;
}
.navbar {
    border-radius: 0px;
    border: none;
    margin:0;
}

.navbar-default .navbar-nav > li:nth-child(1):hover:after, .navbar-default .navbar-nav > li:nth-child(7):hover:after{
	background: #555;
}
.navbar-default .navbar-nav > li:nth-child(2):hover:after{
	background: #995894;
}
.navbar-default .navbar-nav > li:nth-child(2) > a:hover{
	color:#995894; /*violet foncé*/
}
.navbar-default .navbar-nav > li:nth-child(3):hover:after{
	background:#91AA2B;
}
.navbar-default .navbar-nav > li:nth-child(3) > a:hover{
	color:#91AA2B; /*vert clair*/
}
.navbar-default .navbar-nav > li:nth-child(4):hover:after{
	background:#89A6CC;
}
.navbar-default .navbar-nav > li:nth-child(4) > a:hover{
	color:#89A6CC; /*bleu*/
}
.navbar-default .navbar-nav > li:nth-child(5):hover:after{
	background: #4D872A;
}
.navbar-default .navbar-nav > li:nth-child(5) > a:hover{
	color:#4D872A; /*vert foncé*/
}
.navbar-default .navbar-nav > li:nth-child(6):hover:after{
	background: #997798;
}
.navbar-default .navbar-nav > li:nth-child(6) > a:hover{
	color:#997798; /*violet clair*/
}


/***********************A PROPOS*******************************/

.redaction {
	background: rgba(137,166,204, 0.7);
}
.redaction img {
	width:100%;
}
.redaction .nom {
	font-size: 1.5em;
	text-align: center;
}
.redaction .nom:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 50%;
	background: rgba(119,119,119, 0.7);
}
.redaction .row .col-md-3 {
	background-color: rgba(255,255,255,1);
	padding:0;
}
.redaction .row .col-md-3 div {
	padding: 0 1.1em 1.1em 1.1em;
	font-size: 1.2em;
}
.presentationJournal {
	border:3px solid rgba(119,119,119, 0.7);
	border-radius: 5px;
	padding:1em;
}



/***********************FOOTER*******************************/

footer{
	background: url("../../images/footer/tree_bark.png");
}

footer .foot{
	position:absolute;
	height:40px;
	line-height:40px;
	vertical-align: middle;
	bottom:0;
	width:100%;
	background-color: #995894;
	color:white;
}
footer img {
	width:3em;
}