.test1 {
	position:relative;
	background-image: url("../../images/rubrique/sidebar1.jpg");
	background-size: auto 100%;
	width:100%;
	height:250px;
}
.test2{
	position:relative;
	background-image: url("../../images/rubrique/sidebar2.jpg");
	background-size: 100% auto;
	background-position: 0 100%;
	width:100%;
	height:250px;
}

.testArt1 {
	position:relative;
	background-image: url("../../images/rubrique/Top2.jpg");
	background-size: 100% auto;
	/*background-position: 0 100%;*/
	width:100%;
	height:400px;
}

.testArt1 h2 {
	padding:1em 0;
}

.testArt2{
	position:relative;
	background-image: url("../../images/rubrique/Corps2.jpg");
	background-size: 100% auto;
	background-position: 0 100%;
	width:100%;
	height:200px;
}
.testArt3{
	position:relative;
	background-image: url("../../images/rubrique/Corps1.jpg");
	background-size: auto 100% ;
	/*background-position: 0 100%;*/
	width:100%;
	height:410px;
	margin-left:10px;
}